div.content > div.boxShadow {
    padding: 50px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 80px;
}

div.content form {
    background-color: #D3E6E2;
    overflow: hidden;
    font-size: 11pt;
}

form.fixedForm {
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: #D3E6E2;
    z-index: 10;
    display: none;
    padding: 0;
}

form.fixedForm > div {
    margin: 20px;
}

ul.pagination {
    margin-left: 200px;
}
