col.index {
    width: 40px;
}

col.proxy {
    width: 200px;
}

col.speed {
    width: 80px;
}

col.url {
    width: 310px;
}

col.time {
    width: 140px;
}

col.action {
    width: 70px;
}

div.proxyCount {
    padding: 10px 0;
}

div.proxyCount span {
    padding-right: 50px;
}

td.action a{
    font-size: 10pt;
}
