#detailForm {
    padding: 20px;
    width: 550px;
    float: left;
}

#detailForm div.submit {
    margin: 20px 0;
}

#detailForm div.text {
    min-height: 510px;
}

#detailForm h4 {
    margin: 10px 0 3px;
}

div.content fieldset {
    float: right;
    width: 250px;
}

#detailForm div.image {
    margin-top: 30px;
    border-top: 1px double #aaaaaa;
}

#detailForm div.image table td {
    padding-right: 20px;
}

#detailForm div.image table td.action {
    padding-right: 0;
}

#detailForm col.image {
    width: 300px;
}

#detailForm col.link {
    width: 160px;
}

#detailForm col.action {
    width: 50px;
}
